/* Text colors */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/* button */
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  background: #28a745;
  cursor: pointer;
  background: #28a745;
  border: none;
  border-radius: 0.5rem;
}
.btn:hover {
  opacity: 0.9;
}

.btn-priamry,
.bg-primary {
  background: #28a745;
  color: #fff;
}
.btn-secondary,
.bg-secondary {
  background: #28a4d0;
  color: #fff;
}
.btn-light,
.bg-primary {
  background: #28a745;
  color: #fff;
}
.btn-dark,
.bg-dark {
  background: #28a745;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: solid #fff 1px;
}

/* flex-columns */

.flex-columns .row {
  display: flex;
  flex-direction: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-columns h2 {
  font-size: 1.6rem;
  font-weight: 100;
}
.flex-columns h4 {
  margin-bottom: 1rem;
}
.flex-columns p {
  margin: 2rem 0;
}
